.custom-scrollbar {
  scrollbar-width:none; /* For Firefox */
  scrollbar-color: #ca66f5 #f3f2f2; /* Thumb and track colors for Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 1px; /* Thin scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #da0a8e; /* Thumb color */
  border-radius: 2px; /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #000000; /* Track color */
}
