@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=RocknRoll+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

}

.button-primary{
  background-color: #2dda0a;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s;
}


